<footer class="footer">
	<small>
		<a href="http://railstutorial.org/">Rails Tutorial</a> by Michael Hartl
	</small>
	<nav>
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</nav>
</footer>